<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>textAngular 1.1.2 Demo</title>

  <meta name="robots" content="noindex">

  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>

    <style>
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
</style>

</head>

<body>

<div ng-app="textAngularTest" ng-controller="wysiwygeditor" class="container app">
  <h1>Editor</h1>
  <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent"></div>
  <h1>Raw HTML in a text area</h1>
  <textarea ng-model="htmlcontent" style="width: 100%"></textarea>
  <h1>Bound with ng-bind-html</h1>
  <div ng-bind-html="htmlcontent"></div>
  <h1>Bound with ta-bind, our internal html-binding directive</h1>
  <div ta-bind="text" ng-model="htmlcontent"></div>
  <button type="button" ng-click="htmlcontent = orightml">Reset</button>
  <p>Note: although we support classes and styles, angularjs' ng-bind-html directive will strip out all style attributes.</p>
</div>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
  <script src='textAngular.js'></script>

  <script type="text/javascript">
	angular.module("textAngularTest", ['textAngular']);
	function wysiwygeditor($scope) {
		$scope.orightml = '<h2>Try me!</h2><p>textAngular is a super cool WYSIWYG Text Editor directive for AngularJS</p><p><b>Features:</b></p><ol><li>Automatic Seamless Two-Way-Binding</li><li>Super Easy <b>Theming</b> Options</li><li style="color: green;">Simple Editor Instance Creation</li><li>Safely Parses Html for Custom Toolbar Icons</li><li class="text-danger">Doesn&apos;t Use an iFrame</li><li>Works with Firefox, Chrome, and IE8+</li></ol><p><b>Code at GitHub:</b> <a href="https://github.com/fraywing/textAngular">Here</a> </p>';
		$scope.htmlcontent = $scope.orightml;
	};
  </script>

</body>

</html>